*{
    padding: 0px;
    margin: 0px;
}
.header{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    
}
.small-font {
    font-size: 11px;
    margin-top: 8px;
    color: black;
  }
  .header1{
    background-color: rgb(42, 39, 39);
    color: white;
    text-align: center;
    padding: 10px 0px 1px 5px;
    font-size: 14px;
  }
